# ============================
# Python
# ============================
__pycache__/
*.py[cod]
*$py.class

# ============================
# Virtual Environments
# ============================
.env
.venv/
venv/
ENV/
env/

# ============================
# Databases
# ============================
project/backend/database/sqlite.db
project/backend/database/chromadb/

# ============================
# Node.js
# ============================
node_modules/
frontend/node_modules/
project/backend/package-lock.json

# ============================
# Frontend Build Output
# ============================
frontend/dist/

# ============================
# Operating System Files
# ============================
.DS_Store
Thumbs.db

.vscode/